{% extends "base.html"%}
{% load staticfiles %}

{%block content%}

          <div class="form-style-5">
<form>
<fieldset>
<legend><span class="number">7</span>Project Details</legend>
<input type="text" name="field1" placeholder="Title">
<input type="text" name="field2" placeholder="Position">
<input type="text" name="field3" placeholder="Duration">
<textarea name="field4" placeholder="Description"></textarea>
<input type="text" name="field5" placeholder="Projected related URL (if any)">

</fieldset>

<input type="submit" value="SAVE" />
</form>
</div>

      {%endblock%}